html {
  min-height: 100% !important;
  height: 100%;
}

body {
  min-height: 100% !important;
  height: 100%;
  padding: 0;
  margin : 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#map {
  width : 100%;
  min-height: 100% !important;
  height: 100%;
}
